* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* LARGHEZZA PER PROVE */
/* body {
    width: 100em;
    margin: 0 auto;
} */

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.blue-btn {
    display: inline-block;
    color: white;
    background-color: #0161FF;
    padding: .5rem 1rem;
}

.white-btn {
    display: inline-block;
    color: black;
    background-color: white;
    padding: .5rem 3rem;
    border: 1px solid black;
}

.container-wide {
    max-width: 1300px;
    margin: 0 auto;
    padding: 4em 0;
}

.container-narrow {
    width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
    line-height: 1.5em;
}

h2 {
    font-size: 2.75em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.25em;
}

h4 {
    font-size: 1.1em;
    line-height: 2.5em;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.grey {
    color: grey;
    font-size: .9em;
}

.noborder {
    border: 0;
}

.sugar {
    background-color: #B4D0E7;
}

.bordeaux {
    color: #61072B;
}

.half {
    width: 50%;
}


/* -----------------------HEADER----------------------- */

header {
    width: 100%;
    margin: 0 auto;
    height: 5em;
}

header * {
    display: inline-block;
}

.menu {
    padding: 0 1em;
    width: 100%;
    height: 100%;
}

.menu > * {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.menu ul {
    list-style: none;
    line-height: 5em;
    /* margin-left: 2em;
    margin-right: 2em; */
}

.menu li {
    padding: 0 1.5em;
    vertical-align: middle;
}

.menu a {
    color: black;
    text-decoration: none;
}

/* -----------------------PRIMA SEZIONE----------------------- */

.first {
    height: 45em;
}

.cntnr {
    margin-top: 2em;
}

.cntnr.left{
    width: 30%;
}

.cntnr.left > * {
    margin: 1em 0;
}

.cntnr.left p {
    line-height: 1.5rem;
}

.cntnr.right {
    width: 70%;
}

/* -----------------------SECONDA SEZIONE----------------------- */

.second {
    padding: 11em 0;
}

.select {
    line-height: 1em;
    margin: 1em 0;
}

.select > * {
    vertical-align: middle;
}

.radio {
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
}

.radio:not(:first-child) {
    margin-left: 2em;
}

.active {
    border: 4px solid blue;
}

.inactive {
    border: 1px solid grey;
}

.price-list {
    margin-top: 3em;
    margin-left: -2em;
    margin-right: -2em;
}

.card {
    display: inline-block;
    width: 27%;
    padding-bottom: 4em;
    vertical-align: top;
    margin: 0 2em;
}

.type {
    text-align: center;
    line-height: 3rem;
    border: 1px solid darkgrey;
}

.type span {
    padding-left: .5em;
}

.details {
    border: 1px solid darkgrey;
    border-top: none;
    padding: 2em;
}

.column {
    height: 75em;
}

.details .blue-btn {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

.details ul {
    list-style: none;
    margin-left: .8em;
}

.details li {
    padding: 1em 0 1em .5em;
}

.details li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: #0161FF;
    font-weight: 900;
}

.card-wide {
    height: 200px;
    width: 98%;
    border-top: none;
}

.features {
    margin: 3em 0;
}

.features div {
    padding: 1.5em 0;
}

.features i {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.details p {
    display: inline-block;
    width: 90%;
}

.details hr {
    width: 20%;
    margin: 2em 0;
}

.card-wide h3 {
    float: left;
}

.card-wide .blue-btn {
    float: right;
    padding: .5em 4em;
}

/* -----------------------TERZA SEZIONE----------------------- */

.photo {
    display: inline-block;
    width: 55%;
}

.partner {
    display: inline-block;
    width: 40%;
    padding: 2em;
    vertical-align: top;
}

.partner p {
    padding: 2em 0;
    line-height: 1.25rem;
}

/* -----------------------QUARTA SEZIONE----------------------- */

.instruments p {
    padding: 2em 0;
    line-height: 1.4em;
}

/* -----------------------QUINTA SEZIONE----------------------- */
.fifth {
    padding: 4em 0;
}
.fifth p {
    padding-top: 2em;
}

/* -----------------------SESTA SEZIONE----------------------- */
.sixth {
    height: 488px;
    width: 100%;
    background-color: yellow;
}
/* -----------------------SETTIMA SEZIONE----------------------- */
.seventh {
    padding: 7em 0;
}

.seventh .half {
    line-height: 22.5em;
}

.middle {
    vertical-align: middle;
}


/* -----------------------OTTAVA SEZIONE----------------------- */
.eight {
    padding: 5em 0;
}

.eight h3 {
    padding-bottom: 2em;
}

.row {
    border-top: 2px solid lightgrey;
    padding: 2em 0;
}

.row:last-child {
    border-bottom: 2px solid lightgrey;
}

.row > h5 {
    display: inline-block;
}

.row i {
    text-align: right;
    padding-right: 1em;
}

.hidden {
    display: none;
}

.row:hover + .hidden {
    display: block;
}


/* -----------------------FOOTER----------------------- */
footer {
    background-color: black;
    color: white;
}

footer ul {
    list-style: none;
}

footer li {
    padding: .5em 0;
}

footer a {
    color: white;
    text-decoration: none;
}

.column-foot {
    display: inline-block;
    margin-right: 6em;
    vertical-align: top;
}

footer hr {
    width: 15%;
    height: 2px;
    color: grey;
    margin: 5em 0;
}

footer select {
    background-color: black;
    color: white;
    border: 0;
}
