* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* LARGHEZZA PER PROVE */
/* body {
    width: 100em;
    margin: 0 auto;
} */

.blue-btn {
    display: inline-block;
    color: white;
    background-color: #0161FF;
    padding: .5rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right;
}

section {

}

.container-wide {
    width: 1300px;
    margin: 0 auto;
    padding-top: 4em;
}

.container-narrow {
    width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 5em;
    line-height: 1.5em;
}

h2 {
    font-size: 2.75em;
    line-height: 3em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.1em;
    line-height: 2.5em;
}

.italic {
    font-style: italic;
}

.grey {
    color: grey;
}

/* HEADER */

header {
    width: 100%;
    margin: 0 auto;
    height: 5em;
}

header * {
    display: inline-block;
}

.menu {
    padding: 0 1em;
    width: 100%;
    height: 100%;
}

.menu > * {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.menu ul {
    list-style: none;
    line-height: 5em;
    /* margin-left: 2em;
    margin-right: 2em; */
}

.menu li {
    padding: 0 1.5em;
    vertical-align: middle;
}

.menu a {
    color: black;
    text-decoration: none;
}

/* PRIMA SEZIONE */

.first {
    background-color: #B4D0E7;
    height: 45em;
}

.cntnr {
    margin-top: 2em;
}

.cntnr.left{
    width: 30%;
}

.cntnr.left > * {
    margin: 1em 0;
}

.cntnr.left p {
    line-height: 1.5rem;
}

.cntnr.right {
    width: 70%;
}

/* SECONDA SEZIONE */

.second {
    padding-top: 12.5em;
}

.select {
    line-height: 1em;
    margin: 1em 0;
}

.select > * {
    vertical-align: middle;
}

.radio {
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
}

.radio:not(:first-child) {
    margin-left: 2em;
}

.active {
    border: 4px solid blue;
}

.inactive {
    border: 1px solid grey;
}

.price-list {
    margin-top: 3em;
    margin-bottom: 7em;
}

.card {
    display: inline-block;
    height: 1305;
    width: 20em;
}

.card:not(:first-child) {
    margin-left: 3.75em;
}

.type {
    text-align: center;
    line-height: 3rem;
    border: 1px solid darkgrey;
}

.type span {
    padding-left: .5em;
}

.details {
    /* height: 100%; */
    border: 1px solid darkgrey;
    border-top: none;
    padding: 2em;
}

.details .blue-btn {
    display: block;
    text-align: center;
}

.details ul {
    list-style: none;
    margin-left: .8em;
    padding-bottom: 6em;
}

.details li {
    padding: 1em 0 1em .5em;
}

.details li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: #0161FF;
    font-weight: 900;
}

.card-wide {
    height: 200px;
    width: calc(20em * 3 + 3.75em * 2 + 9px);
    border-top: none;
}

.features {
    margin: 3em 0;
}

.features i {
    display: inline-block;
    width: 10%;

}

.details p {
    display: inline-block;
    width: 90%;
    margin: 1.5em 0;
}

.details hr {
    width: 20%;
    margin: 2em 0;
}

.card-wide h3 {
    float: left;
}

.card-wide .blue-btn {
    float: right;
    padding: .5em 4em;
}